{% extends 'hacker/base.html' %}

{% block content %}

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ARTCODIAN</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Info</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Check</a>
	      </li>

	    </ul>

	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="#"> Sign Up <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#"> Sign In </a>
	      </li>
	    </ul>

	  </div>
	</nav>

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item item1 active">
	    	<div class="helper"></div> <div class="intro">
		      <h2>Already Checked Out.</h2>
		      <h3>Duplicate tickets are not available. Try again.</h3>
		      <a href= "#"> Back </a>
			</div>
	    </div>
	  </div>
	</div>



{% endblock %}
